@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
   font-family: "Oxygen", sans-serif;
} 
.container {
        margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1250px;  
}

.header{
    background-color: #FBCE10;
    height: 105px;
    width: 100%;
}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 4px 45px;
    gap: 18px;
    font-size: 11px;
    font-weight: 400;
}
.navlinks span{
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 7px;
}
.navlinks a{
    text-decoration: none;
    color: black;
}
.navlinks a:hover{
    text-decoration: underline;
}
.main{
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo img{
    padding: 10px 10px 20px 40px;
}

.input-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input{
    display: flex;
    gap: 0.5px;
    padding-bottom: 20px;
}

.input input{
    border: none;
    outline: none;
    padding-right: 100px;
    padding-left: 10px;
    color: black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.input h6{
    background-color: white;
    padding: 10px 20px;
    color: rgb(110, 107, 107);
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
}
.input p{
    background-color: white;
    padding: 10px 20px;
    color: rgb(123, 123, 123);
    font-weight: 400;
    font-size: 14px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.menu{
    font-size: 24px;
    display: none;
    cursor: pointer;
}
.magnifier{
    font-size: 24px;
    display: none;
    cursor: pointer;
}
.cart{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
    margin-left: 160px;
    margin-bottom: 20px;
    font-weight: 300;
}
.cart a{
    text-decoration: none;
    color: black;
}
.cart a:hover{
    text-decoration: underline;
}
.cart .bag{
    font-size: 2.4rem;
    padding-bottom: 5px;
}
.brands{
    display: flex;
    align-items: center;
    gap: 34px;
    padding-left: 40px;
    padding-bottom: 14px;
}
.brands a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.brands a:hover{
 color: #FBCE10;   
}
.brands .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}
.marque{
    background-color: #FBCE10;
    height: 24px;
    overflow: hidden;
}
.marque marquee{
    font-weight: 600;
    padding-top: 3px;
}
.image{
    margin-top: 100px;
    display: flex;
    gap: 20px;
}
.leftImg{
    width: 820px;
    margin-left: 40px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.slides {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease;
}

.slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.dots {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.dot {
    width: 8px;
    height: 8px;
    background: gray;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.4;
}

.dot.active {
    opacity: 1;
    background-color: #FBCE10;
}


.rightImg{
    display: flex;
    flex-direction: column;
}

.img1{
    width: 300px;
    border-radius: 10px;
}
.img1 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img2{
    width: 300px;
    border-radius: 10px;
}
.img2 img{
    width: 100%;
    overflow: hidden;
}

.cards{
     margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
}
.card {
    overflow: hidden;
    position: relative;
    transition: background 0.3s ease;
    border-radius: 10px;
}

.card a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    color: black;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card::before {
    content: attr(data-text); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 100%; 
    color: #6A6248;
    font-weight: 400;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    max-width: 90%;
    word-wrap: break-word;
    line-height: 1.2em;
    overflow-wrap: break-word;
}

.card:hover {
    background: #FFCF01;
}

.card:hover img {
    opacity: 0; 
}

.card:hover::before {
    opacity: 1; 
}

.line a{
    text-decoration: none;
    font-weight: 500;
}

.line h2{
    background: url(assests/line.png);
    background-repeat: no-repeat;
    background-position: right;
    font-size: 16px;
    line-height: 52px;
    margin: 0;
    color: #313131;
    text-transform: uppercase;
    text-align: left;
}
.line .content{
    background-color: #fff;
    padding-right: 20px;
    display: inline;
    padding-left: 50px;
}

.products {
    padding-top: 10px;
    position: relative;
    width: 100%;
    padding-left: 50px;
}

.grocery-wrapper {
    overflow: hidden; 
}

.grocery {
    display: flex;
    align-items: center;
    gap: 28px;
    transition: transform 0.5s ease; 
}

.product {
    min-width: 165px; 
    text-align: center;
}

.product-img {
    width: 165px;
    height: 165px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.product h4 {
    padding-top: 10px;
    font-weight: 400;
    color: #777;
    font-size: 1em;
}

.product h3 {
    padding-top: 14px;
    color: #444;
}

.arrows {
    position: absolute;
    right: 5px;
    top: -43px;
    padding-right: 40px;
    padding-bottom: 10px;
    background-color: #fff;
}

.arrows span {
    pointer-events: all;
    font-size: 28px;
    color: #FFCF01;
    cursor: pointer;
    font-weight: 700;    
}

.footer{
    background:#FBCE10;
    margin-top:100px;
    padding: 0px 90px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    padding:20px 0;
}

.footer-col{
    padding-left: 40px;
}

.footer-col ul{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-col li{
    margin-bottom:8px;
}

.footer-col a{
    text-decoration:none;
    color:#000;
    font-size:14px;
}

.footer-col a:hover{
    text-decoration:underline;
}

.footer-col a span{
    font-size: 12px;
}

.footer-col.center{
    text-align:center;
}

.footer-col p{
    font-weight:500;
    margin-bottom:12px;
}


.social-links{
    display:flex;
    gap:10px;
    justify-content:center;
}

.social-links img{
    width:34px;
    height:34px;
    cursor:pointer;
}

.payment-img{
    max-width:180px;
    padding-left: 20px;
}

.footer-bottom{
    background:#3f3f3f;
    color:#fff;
    font-size:13px;
    padding:12px 50px;
    text-align:right;
}

.footer-bottom span{
    color:#FFCF01;
}

.foot{
    background-color: #444444;
    text-align: right;
    color: white;
    font-size: 12px;
    padding: 10px;
    padding-right: 50px;
    font-family: sans-serif;
}
.codelab a{
    text-decoration: none;
    color: #FFCF01;
}
.codelab a:hover{
    text-decoration: underline;
}